.editPage {
  display: flex;
  justify-content: center;
}

.wholeEditPage {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.0975);
  background-color: white;
  margin-top: 60px;
  height: auto;
  max-width: 932px;
  min-width: 800px;
  justify-content: space-between;
}

.editProfileWord {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-weight: 600;
  font-size: 15px;
}

.editPageLeft {
  height: auto;
  width: 21%;
  border-right: 1px solid rgba(0, 0, 0, 0.0975);
}

.editProfileWord {
  padding-top: 15px;
  padding-left: 30px;
}

.editForm {
  margin-right: 150px;
  width: 50%;
}

.edit-profile-pic {
  height: 40px;
  width: 40px;
}

.formInputFields {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.edit-user-username {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 24px;
  padding-left: 40px;
}

.editHeader {
  display: flex;
  align-items: center;
  margin: 40px 0;
}

.editName, .editUsername, .editBio {
  display: flex;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-weight: 600;
}

.editName div, .editUsername div, .editBio div {
  margin-top: 5px;
}

.editName input, .editUsername input, .editBio textarea {
  margin-left: 30px;
  margin-bottom: 10px;
  height: 25px;
  width: 350px;
  border-radius: 3px;
  border: 1px solid #efefef;
  font-size: 16px;
  padding-left: 10px;
}

.editBio textarea {
  max-width: 350px;
}

.submitEditWrap {
  width: 363px;
}

.submitEdit {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 0 24px;
  cursor: pointer;
  background-color: #3897f0;
  border-color: #3897f0;
  color: white;
  -webkit-appearance: none;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 30%;
}

@media screen and (max-width: 800px) {
  .editPageLeft {
    display: none;
  }

  .editPage {
    justify-content: center;
  }

  .editName, .editUsername, .editBio {
    position: relative;
    left: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .editName input, .editUsername input, .editBio textarea {
    margin-left: 0;
    margin-top: 5px;
  }

  .wholeEditPage {
    min-width: 600px;
  }

  .editHeader {
    margin-left: 50px;
  }

  .submitEdit {
    margin-left: 100px;
    width: 100px;
  }
}

@media screen and (max-width: 535px) {
  .editPageLeft {
    display: none;
  }

  .editPage {
    justify-content: center;
  }

  .editName, .editUsername, .editBio {
    position: relative;
    left: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 250px;
  }

  .editName input, .editUsername input, .editBio textarea {
    margin-left: 0;
    margin-top: 5px;
    width: 310px;
  }

  .wholeEditPage {
    min-width: 200px;
  }

  .editHeader {
    margin-left: 50px;
  }

  .submitEditWrap {
    padding-left: 40px;
  }

  .submitEdit {
    margin-left: 180px;
    width: 100px;
  }
}

@media screen and (max-width: 620px) {
  .editPageLeft {
    display: none;
  }

  .editPage {
    justify-content: center;
  }

  .editName, .editUsername, .editBio {
    position: relative;
    left: 140px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 180px;
  }

  .editName input, .editUsername input, .editBio textarea {
    margin-left: 0;
    margin-top: 5px;
  }

  .wholeEditPage {
    min-width: 400px;
  }

  .editHeader {
    margin-left: 50px;
  }

  .submitEdit {
    margin-left: 140px;
    width: 100px;
  }
}
