.photo-wrap {
  height: auto;
  align-items: center;
  margin-top: 5%;
  display: flex;
  justify-content: center;
}

.photo-on-feed {
  margin: auto;
  height: 100%;
  width: 100%;
  max-width: 600px;
  max-height: 600px;
  object-fit: cover;
  cursor: pointer;
}

.photoFeedImage {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 600px;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
}

.photoFeedHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
  max-width: 600px;
  max-height: 600px;
  height: 100%;
  width: 100%;
  margin: auto;
}

.photoFeedProfilePic {
  height: 35px;
  width: 35px;
  margin: 16px 13px 16px 16px;
}

.photoFeedUsername {
  text-decoration: none;
  color: black;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-weight: 700;
  font-size: 14px;
}

.days-ago {
  text-transform: uppercase;
}

.bottom {
  padding-left: 20px;
  padding-right: 20px;
}

.like-on-feed {
  margin-bottom: 10px;
}

.comment-button-submit {
  background-color: white;
  border: none;
  height: 10px;
}

.feedHeart {
  display: flex;
  justify-content: center;
}

.feedHeart {
  position: relative;
  top: 250px;
  height: 1px;
}

.feedLike {
  font-size: 100px;
  color: white;
  opacity: 0;
}

.liking {
  animation-duration: .3s;
  animation-name: easein;
  opacity: 0;
}

.comments ul {
  overflow: auto;
  max-height: 300px;
}

@keyframes easein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
