.login-form {
  font-family: sans-serif;
}

.link-to-signup {
  font-size: 15px;
}

.signup-link {
  font-size: 15px;
  text-decoration: none;
}

.login-button {
  width: 270px;
  height: 30px;
  background-color: #3897f0;
  border-color: #3897f0;
  font-weight: 700;
  font-size: 14px;
  color: white;
  cursor: pointer;
  -webkit-appearance: none;
  
}
