.fullModal {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: rgba(0,0,0,.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  width: 70%;
  margin: auto;
  position: fixed;
}

.imageContainer {
  display: flex;
  width: 100%;
}

.imageModal {
  margin: right;
  max-width: 600px;
  max-height: 600px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rightModal {
  background-color: white;
  max-width: 330px;
  width: 100%;
}

.headerModal {
  border-bottom: 1px solid #efefef;
  height: 78px;
  margin-right: 0;
  padding: 20px;
  // position: absolute;
  // right: 24px;
  top: 0;
  width: 287px;
  display: flex;
}

.user-profile-modal {
  height: auto;
  width: 40px;
  margin-right: 10px;
  flex-shrink: 0;
}

.user-profile-pic {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.user-username {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 5px;
  margin-left: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-comments {
  bottom: 0;
  box-sizing: border-box;
  padding-left: 24px;
  padding-right: 24px;
  width: 335px;
  margin-top: 12px;
}
