.user-info {
  display: flex;
  margin-top: 70px;
  align-items: center;
}

.profile-pic {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 1px solid black;
  object-fit: cover;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.profile-pic-div {
  background-color: #fafafa;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: none;
  color: white;
  margin-right: 100px;
  margin-left: 80px;
}

.current-user-profile {
  cursor: pointer;
}

.profile-username {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 32px;
  line-height: 40px;
  font-weight: 200;
  margin-right: 30px;
}

.user-info-top {
  align-items: center;
  justify-content: center;
}

.edit-profile, .following-button {
  padding: 0 24px;
  cursor: pointer;
  background: 0 0;
  border-color: #dbdbdb;
  color: #262626;
  -webkit-appearance: none;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.edit-profile {
  text-decoration: none;
  padding: 5px 30px;
}

.follow-button {
  padding: 0 24px;
  cursor: pointer;
  background-color: #3897f0;
  border-color: #3897f0;
  color: white;
  -webkit-appearance: none;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.user-info {
  font-family: arial, helvetica, sans-serif;
}

.user-stats {
  display: flex;
}

.number-posts, .number-follow {
  font-weight: 700;
}

.number-follow {
  margin-left: 30px;
}

.first, .second {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.first, .second, .third {
  margin-bottom: 20px;
}

.third {
  display: flex;
  justify-content: left;
  align-items: center;
}

.profile-name {
  font-weight: 700;
  margin-right: 7px;
}

.user-profile {
  display: flex;
  justify-content: center;
  margin-bottom: 44px;
}

.main-profile {
  width: 975px;
}

.userPhotoIndex {
  display: flex;
  height: auto;
  width: 100%;
}

.userPhotos {
  margin: auto;
  // width: 75%;
  flex-wrap: wrap;
  display: flex;
  max-width: 940px;
}

.userPhotoItem {
  margin-right: 2%;
  height: auto;
  width: 31%;
  justify-content: center;
  align-items: center;
  margin-top: 1.6%;
}

.photoItem {
  margin: auto;
  width: 100%;
  max-width: 293px;
  max-height: 293px;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.userPhotoItem:hover .hover-images{
  visibility: visible;
}

.photoItem:hover {
  opacity: 1;
  background-color: rgba(0,0,0,0.5);
  filter: brightness(60%);
}

.followButton {
  background-color: #fafafa;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.number-of-posts {
  padding-top: 4.4px;
}

.hover-heart, .hover-comment {
  font-size: 24px;
  margin-right: 7px;
  color: white;
}

.hover-comment-count, .hover-heart-count {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-weight: 700;
  color: white;
}

.likes-and-comments {
  display: flex;
}

.likes-and-count, .comments-and-count {
  display: flex;
  align-items: center;
}

.likes-and-count {
  margin-right: 30px;
}

.hover-images {
  display: flex;
  justify-content: center;
  position: relative;
  top: 150px;
  visibility: hidden;
  z-index: 1000;
  height: 1px;
}

.hover-comment {
  padding-bottom: 3.5px;
}

@media screen and (max-width: 950px) {
  .searchbar, .fa-search, .searchUsers {
    display: none;
  }

}

@media screen and (max-width: 735px) {
  .profile-pic, .current-user-profile {
    height: 100px;
    width: 100px;
  }

  .rightNav {
    margin-left: 20px;
  }

  .profile-pic-div {
    margin-right: 50px;
    margin-left: 40px;
  }

  .third, .second {
    display: none;
  }

  .first {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
