.uploadModal {
  width: 500px;
  margin: auto;

}

.uploadForm {
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 3px;
}

.imagePrev {
  max-height: 300px;
  max-width: 300px;
  object-fit: cover;
}

.uploadHeader {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-weight: 700;
  margin: auto;
  padding: 10px;
}

.buttons {
  display: flex;
}

.captionUpload {
  padding: 10px;
  font-size: 16px;

}

.captionUpload::placeholder {
  justify-content: center;
}

.buttons .uploadFormButton {
  background-color: #3897f0;
  border: none;
  cursor: pointer;
  width: 50%;
  border: 1px solid #3897f0;
  padding: 5px;
  font-weight: 400;
  color: white;
  font-size: 14px;
  border-bottom-left-radius: 3px;
}

.buttons .uploadFormCancel {
  border: none;
  cursor: pointer;
  width: 50%;
  padding: 5px;
  font-weight: 400;
  color: white;
  font-size: 14px;
  border-bottom-right-radius: 3px;
}

.buttons .uploadFormButton {
}

.uploadFile, .imagePrev{
  margin: auto;
}

.uploadFile {
  padding-left: 80px;
  padding-bottom: 15px;
}

.drag-and-drop {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  margin: auto;
  height: 100px;
  display: flex;
  align-items: center;
  border: 1px solid #efefef;
  margin-bottom: 10px;
  padding: 0 10px;
}

.OR {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  margin: auto;
  margin-bottom: 10px;
}
